a {
    margin-left: 200px;
    margin-right: 200;
    background-color: black;
    color: white;
}

.myname {
    color: White;
}

.prof {
    color: #4cabd7;
}

.z_img {
    border-radius: 50%;
    padding-right: 15px;
    position: center;
    width: 15%;
    float: right;
    border: 5px solid darkcyan;
}

.CBlue,
h1 {
    color: #4cabd7;
}

.tit1 {

    background-color: rgb(22, 22, 82);
    /* font-style: initial; */
    color: white;
    display: inline-block;
    width: 100%;
    /* margin-bottom: 0%; */
}

.whitesize {
    background-color: black;
    margin-top: 0%;
    padding-top: 0%;
    height: 30px;
    font-size: large;
}

.whitesize dd {
    display: inline
}

.flex2,
.flex3 {
    display: flex;
    flex-direction: row;

}

.flex3>div {
    flex: 20px;
}

.right,
.left {
    flex: 20px;
    padding: 2px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    font-size: large;
}

ol {
    list-style-type: none;
}

ul {
    list-style-type: "+ ";
}

.wrapper {
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    grid-auto-rows: minmax(30px, auto);

}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten {
    background-color: gray;
    color: white;
    border: none 5%;
    font-style: bold;
}

@media(max-width: 1000px) {
    body {
        font-size: small;
        background-color: white;
    }

    .whitesize {
        display: block;
        font-size: normal;
    }

    .tit1 {
        width: 100%;
        background-color: rgb(22, 22, 82);
        display: content;
    }

    .flex2,
    .flex3 {
        display: flex;
        flex-direction: column;

    }
}